form.container {
  width: 90%;
  max-width: 870px;
  padding: 20px;
  background-color: #fff;
}
form input,
form select {
  padding: 15px;
  border: 1px solid #aaa;
  margin: 10px 0;
  margin-left: 5%;
}
fieldset {
  border: 0;
}
