@import url("https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&family=Open+Sans:wght@300;400;600&display=swap");

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  background: #f7f7f7;
}

.section {
  width: 100%;
}

.container {
  width: 90%;
  max-width: 1170px;
  margin: 0 auto;
  font-size: 14px;
  font-weight: 300;
  overflow: hidden;
  padding: 30px 0 50px 0;
}
form.container {
  width: 90%;
  max-width: 870px;
  padding: 20px;
  background-color: #fff;
}

.section.card {
  background: #f7f7f7;
}

.header {
  width: 100%;
  background: #fff;
  margin-bottom: 40px;
  box-shadow: 0 1px 3px #ccc;
}

#logo {
  float: left;
  margin: 5px 0;
  font-weight: 300;
  font-size: 36px;
  padding: 0 10px;
  background-color: #000;
  color: #fff;
}
#logo > span {
  font-weight: 600;
  font-size: 42px;
}

ul.nav {
  float: right;
  list-style: none;
  margin: 0;
  padding: 0;
}

ul.nav li {
  float: left;
  line-height: 52px;
}

ul.nav li a {
  font-size: 18px;
}

ul.nav li a {
  padding: 21px;
  color: initial;
  text-decoration: initial;
}

.slider,
footer {
  background: #000;
}
.slider {
  background-image: url("bg-banner.jpg");
  background-size: cover;
}
.slider h1 {
  color: #f7f7f7;
}

.center {
  text-align: center;
}

.hero {
  color: white;
  font-weight: normal;
  letter-spacing: 1px;
}

h1 {
  font-size: 54px;
}
h2 {
  color: #f7f7f7;
  font-size: 26px;
}

button {
  border: 1px solid white;
  padding: 8px 13px;
  width: 200px;
  font-size: 20px;
  cursor: pointer;
}

.col {
  float: left;
  padding: 0;
  margin: 0;
}

.three {
  width: 31.3%;
  margin: 1%;
  text-align: left;
}

@media screen and (max-width: 480px) {
  .three {
    width: 99%;
    margin: 1%;
  }
}
.feature {
  color: #444;
  font-size: 26px;
  font-weight: 300;
  font-family: "Open Sans Condensed", sans-serif;
}
.container p {
  text-align: left;
}
.card {
  background: #fff;
  border: 1px solid #fefefe;
  padding-bottom: 10px;
  text-align: center;
}

.card h1 {
  padding: 0 1%;
  margin-bottom: 0;
  text-align: center;
}
button.cart {
  margin-top: 10px;
  color: white;
  background-color: #000;
  border: 1px solid white;
}
button.org {
  background-color: orangered;
}
.col .imgholder {
  height: 300px;
  width: 100%;
  text-align: center;
  background: #ddd;
}

.col .imgholder > img {
  height: 100%;
}

.col.pointer {
  cursor: pointer;
}

.white {
  color: #fff;
}
.black {
  color: #444;
}

.preview,
.buy {
  float: left;
  padding: 10px;
}
.preview {
  width: 60%;
  padding-left: 10%;
}
.preview > img.main {
  width: 100%;
}
.preview > img.prev-img {
  width: 10%;
  margin-right: 10px;
  margin-top: 8px;
}
.preview ul {
  margin: 0;
  padding-left: 20px;
}
.preview ul > li {
  margin: 8px 0;
}
.buy {
  width: 30%;
}
.buy h1,
.buy h2,
.preview h2,
.review-list h2 {
  margin: 0;
  padding: 0;
  display: block;
  color: #333;
}
.buy input,
.buy select {
  padding: 15px;
  border: 1px solid #aaa;
  margin: 10px 0;
}
.buy select {
  width: 100%;
}
.buy input {
  width: 100px;
}
.buy button {
  width: 100%;
}
.buy .feature {
  color: orangered;
}
.buy p {
  font-size: 18px;
  margin-top: 10px;
  margin-bottom: 0;
}
.review-list {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 50px;
}
.review {
  display: inline-block;
  margin: 10px;
  padding: 15px;
  max-width: 800px;
  border-radius: 3px;
  border: 1px solid #bfbfbf;
}
.review-title {
  text-align: left;
  margin: 0 0 10px 0;
  font-size: 20px;
}
.review-score {
  margin: 0;
  text-align: left;
}
.score {
  font-size: 28px;
}
.score-stars {
  margin-left: 10;
}
.review-text {
  text-align: left;
  line-height: 1.45;
}

h3 {
  margin-top: 0px;
  margin-bottom: 10px;
  font-size: 26px;
  color: #333;
}

form input,
form select {
  padding: 15px;
  border: 1px solid #aaa;
  margin: 10px 0;
  margin-left: 5%;
}
fieldset {
  border: 0;
}
